#appTitle_container{
    text-align: center;
    margin: 15px;
    display: flex;
    flex-direction: row;
}

#siteTitle {
    width: 100px;
    height: 100px;
    line-height: 15px;
    border-radius: 50%;
    border: 2px solid var(--color-light);
    font-size: 15px;
    font-weight: bold;
    color: var(--color-white);
    text-align: center;
    background: var(--color-bg-variant);
    padding-top: 28px;
    cursor: pointer;
}

.appInfo_container {
    border: 0.3rem solid var(--color-bg-variant);
    border-radius: 0.8rem;
    margin: 0 auto;
    background-color: var(--color-light);
    color: var(--color-bg-variant);
    font-weight: bold;
    width: 600px;
    padding: 5px 20px 20px 20px;
    position: relative;
    transition: var(--transition);
}

.appInfo_container:hover {
    border: 0.3rem solid transparent;
}

.infoP a{
    color: var(--color-primary-variant);
}

.colorFul {
    color: var(--color-primary-variant);
}


