#card {
    background: var(--color-light);
    margin: 10px;
    padding: 10px;
    border: 0.3rem solid var(--color-primary-variant);
    border-radius: 10px;
    width: 325px;
    transition: var(--transition);
}

#card:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 0.3rem solid var(--color-white);
}


.card_title {
    margin: 10px 0;
    text-align: center;
}

.card_info {
    padding: 15px;
}

.info_container {
    display: grid;
    grid-template-columns: 70% 30%;
}

.icon_container {
    text-align: center;
}
.icon_container img{
    width: 90%;
}